<!DOCTYPE html>
<html>
  <head>
    <title>Buceo - Calcular Tiempo de Descompresión</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Buceo - Calcular Tiempo de Descompresión</h1>
    <form action="/calculate" method="get">
      <label for="depth">Profundidad:</label>
      <input type="text" id="depth" name="depth" />
      <label for="time">Tiempo:</label>
      <input type="text" id="time" name="time" />
      <label for="temperature">Temperatura:</label>
      <input type="text" id="temperature" name="temperature" />
      <label for="salinity">Salinidad:</label>
      <select id="salinity" name="salinity">
        <option value="Mar Rojo">Mar Rojo</option>
        <option value="Mar Mediterraneo">Mar Mediterraneo</option>
        <option value="Mar de la China">Mar de la China</option>
        <option value="Mar de Indonesia">Mar de Indonesia</option>
        <option value="Mar de Japón">Mar de Japón</option>
        <option value="Mar de Australia">Mar de Australia</option>
      </select>
      <label for="gas_mix">Mezcla de Gases:</label>
      <input type="text" id="gas_mix" name="gas_mix" />
      <label for="altitude">Altitud:</label>
      <input type="text" id="altitude" name="altitude" />
      <input type="submit" value="Calcular" />
    </form>
  </body>
</html>
